* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #ffffff;
}

frameset frame {
    box-shadow: 0px 0px 0px rgba(0, 0, 4, 0.25);
    border: 1px solid rgba(128, 128, 128, 0.212);
}

.pr-sidebar-cont {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center
}

.logo-replace-side {
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo-replace-side img {
    width: 60%;
    padding: 20px;
}

.pr-side-name {
    padding: 30px;
}

.pr-side-name h1 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #000000;
}

.pr-side-name h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.pr-side-name p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #949494;
}

.pr-side-btn-bar {
    display: flex;
    flex-direction: column;

}


/* search feature */

button,
input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}

input {
    color: #171717;
}

.search-bar {
    display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    padding: 5px;
    justify-content: right;
    max-width: 40%;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #000000 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #000000;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #ffffff inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* Active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #10691f;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #10691f;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}


/* classes bar  pr_classes.html*/
/* .pr-class-bar {
    

} */

.pr-sidebar-right-cont {
    display: flex;
    flex-direction: column;
    height: 100% auto;
}

.classes-title h1 {
    font-weight: 700;
    font-size: 25px;
    right: 200px;
    letter-spacing: 0.04em;
    padding: 30px;
    color: #292929;
}

.subject {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px 30px;
    border: 1px solid rgba(128, 128, 128, 0.219);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}


.subject-cont-main {
    display: flex;
    justify-content: center
}

/* .subject-cont{
    width: 80%;
    height: 100%;
    padding: 20px;
    background: #5a0b68;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 10px;
    color: #ffffff;
} */


.subject-cont {
    width: 80%;
    height: 100%;
    padding: 20px;
    background: #284ab9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 10px;
    color: #ffffff;
}

.subject-cont:hover {
    width: 90%;
    height: 120%;
    padding: 40px 20px;
    background: #284ab9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 10px;
    color: #ffffff;
    transition: 0.5s;
}

/* .subject-cont:nth-child(2){
    width: 80%;
    height: 100%;
    padding: 20px;
    background: #5a0b68;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 10px;
    color: #ffffff;
} */

.subject-cont h3 {
    font-weight: 600;
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.7);
}

.subject-cont h1 {
    font-weight: 600;
    font-size: 14pt;
}

.classlist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.classlist a {
    background-color: #fff;
    color: black;
    font-size: 8pt;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
}

.pr_nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.pr_greet {
    display: flex;
    flex-direction: column;
}

.pr_greet h1 {
    font-weight: 600;
    font-size: 25px;
}

/* Student List . HTML */

.st_list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.st_list h1{ font-weight: 400;}
.st_list h4{ font-weight: 600; font-size: 10pt;}

.st_list table {
    width: 95%;
}

.st_list table td,th {
    padding: 20px;
    font-size: 10pt;
    border-bottom: 1px solid gray;
}

.pr-side-btn-bar a{
margin: 10px 0px;
background-color: #195905;
padding: 5px 40px;
font-weight: 400;
font-size: 11px;
color: white;
border-radius: 42px;
text-decoration: none;
}